# Практическая работа №2 Преобразование данных

выполнил студент группы 
Т50-11-23
Шаймарданов Ренат

***Цель работы:*** Закодировать и преобразовать признаки.

***Ход работы:***

In [21]:
# Осуществить импорт необходимых библиотек
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder, OneHotEncoder, StandardScaler, MinMaxScaler, Normalizer

# Загрузка данных
df = pd.read_csv('train_and_test2.csv')

OrdinalEncoder:
    Passengerid   Age     Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0            1  22.0   7.2500  0.0      1     0       0       0       0
1            2  38.0  71.2833  1.0      1     0       0       0       0
2            3  26.0   7.9250  1.0      0     0       0       0       0
3            4  35.0  53.1000  1.0      1     0       0       0       0
4            5  35.0   8.0500  0.0      0     0       0       0       0

   zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  Embarked  \
0       0  ...        0        0        0       3        0        0       2.0
1       0  ...        0        0        0       1        0        0       0.0
2       0  ...        0        0        0       3        0        0       2.0
3       0  ...        0        0        0       1        0        0       2.0
4       0  ...        0        0        0       3        0        0       2.0

   zero.17  zero.18  2urvived
0        0        0         0
1        0        0         1
2        0        0         1
3        0        0         1
4        0        0         0

[5 rows x 28 columns]

LabelEncoder:
    Passengerid   Age     Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0            1  22.0   7.2500    0      1     0       0       0       0
1            2  38.0  71.2833    1      1     0       0       0       0
2            3  26.0   7.9250    1      0     0       0       0       0
3            4  35.0  53.1000    1      1     0       0       0       0
4            5  35.0   8.0500    0      0     0       0       0       0

   zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  Embarked  \
0       0  ...        0        0        0       3        0        0       2.0
1       0  ...        0        0        0       1        0        0       0.0
2       0  ...        0        0        0       3        0        0       2.0
3       0  ...        0        0        0       1        0        0       2.0
4       0  ...        0        0        0       3        0        0       2.0

   zero.17  zero.18  2urvived
0        0        0         0
1        0        0         1
2        0        0         1
3        0        0         1
4        0        0         0

[5 rows x 28 columns]

OneHotEncoder:
 [[1. 0. 0. 0. 1. 0.]
 [0. 1. 1. 0. 0. 0.]
 [0. 1. 0. 0. 1. 0.]
 [0. 1. 0. 0. 1. 0.]
 [1. 0. 0. 0. 1. 0.]]

StandardScaler:
    Passengerid       Age      Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0            1 -0.581628 -0.503291    0      1     0       0       0       0
1            2  0.658652  0.734744    1      1     0       0       0       0
2            3 -0.271558 -0.490240    1      0     0       0       0       0
3            4  0.426099  0.383183    1      1     0       0       0       0
4            5  0.426099 -0.487824    0      0     0       0       0       0

   zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  Embarked  \
0       0  ...        0        0        0       3        0        0       2.0
1       0  ...        0        0        0       1        0        0       0.0
2       0  ...        0        0        0       3        0        0       2.0
3       0  ...        0        0        0       1        0        0       2.0
4       0  ...        0        0        0       3        0        0       2.0

   zero.17  zero.18  2urvived
0        0        0         0
1        0        0         1
2        0        0         1
3        0        0         1
4        0        0         0

[5 rows x 28 columns]

MinMaxScaler:
    Passengerid       Age      Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0            1  0.273456  0.014151    0      1     0       0       0       0
1            2  0.473882  0.139136    1      1     0       0       0       0
2            3  0.323563  0.015469    1      0     0       0       0       0
3            4  0.436302  0.103644    1      1     0       0       0       0
4            5  0.436302  0.015713    0      0     0       0       0       0

   zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  Embarked  \
0       0  ...        0        0        0       3        0        0       2.0
1       0  ...        0        0        0       1        0        0       0.0
2       0  ...        0        0        0       3        0        0       2.0
3       0  ...        0        0        0       1        0        0       2.0
4       0  ...        0        0        0       3        0        0       2.0

   zero.17  zero.18  2urvived
0        0        0         0
1        0        0         1
2        0        0         1
3        0        0         1
4        0        0         0

[5 rows x 28 columns]

Normalizer:
    Passengerid       Age      Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0            1  0.949757  0.312988    0      1     0       0       0       0
1            2  0.470417  0.882444    1      1     0       0       0       0
2            3  0.956551  0.291564    1      0     0       0       0       0
3            4  0.550338  0.834942    1      1     0       0       0       0
4            5  0.974555  0.224148    0      0     0       0       0       0

   zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  Embarked  \
0       0  ...        0        0        0       3        0        0       2.0
1       0  ...        0        0        0       1        0        0       0.0
2       0  ...        0        0        0       3        0        0       2.0
3       0  ...        0        0        0       1        0        0       2.0
4       0  ...        0        0        0       3        0        0       2.0

   zero.17  zero.18  2urvived
0        0        0         0
1        0        0         1
2        0        0         1
3        0        0         1
4        0        0         0

[5 rows x 28 columns]

##### Закодировать категориальные данные через OrdinalEncoder;

In [ ]:
# -Закодируем "Sex" и "Embarked"
ordinal_encoder = OrdinalEncoder()
df_encoded_ordinal = df.copy()
df_encoded_ordinal[['Sex', 'Embarked']] = ordinal_encoder.fit_transform(df_encoded_ordinal[['Sex', 'Embarked']])
print("OrdinalEncoder:\n", df_encoded_ordinal.head())

##### Закодировать категориальную метку через LabelEncoder;

In [ ]:
# -Закодируем "Survived" 
label_encoder = LabelEncoder()
df_encoded_label = df.copy()
df_encoded_label['2urvived'] = label_encoder.fit_transform(df_encoded_label['2urvived'])
print("\nLabelEncoder:\n", df_encoded_label.head())

##### Закодировать категориальные данные через OneHotEncoder;

In [ ]:
# -Закодируем "Sex" и "Embarked"
# - Создадим sparse матрицу с кодированными данными
onehot_encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore') 
encoded_features = onehot_encoder.fit_transform(df[['Sex', 'Embarked']]) 
print("\nOneHotEncoder:\n", encoded_features[:5])

##### Преобразовать данные через StandardScaler;

In [ ]:
# -Создадим новый DataFrame с масштабированными данными
scaler = StandardScaler()
df_scaled = df.copy()
df_scaled[['Age', 'Fare']] = scaler.fit_transform(df_scaled[['Age', 'Fare']])
print("\nStandardScaler:\n", df_scaled.head())

##### Преобразовать данные через MinMaxScaler;

In [ ]:
# -Преобразуем "Age" и "Fare"
# - Создадим новый DataFrame с масштабированными данными
minmax_scaler = MinMaxScaler()
df_minmax_scaled = df.copy()
df_minmax_scaled[['Age', 'Fare']] = minmax_scaler.fit_transform(df_minmax_scaled[['Age', 'Fare']])
print("\nMinMaxScaler:\n", df_minmax_scaled.head())

##### Преобразовать данные через Normalizer;

In [ ]:
# -Преобразуем "Age" и "Fare"
# -Создадим новый DataFrame с нормализованными данными
normalizer = Normalizer()
df_normalized = df.copy()
df_normalized[['Age', 'Fare']] = normalizer.fit_transform(df_normalized[['Age', 'Fare']])
print("\nNormalizer:\n", df_normalized.head())

##### Сохранить закодированный датасет.

In [ ]:
df_scaled.to_csv('scaled_titanic.csv', index=False)

***Вывод:*** В процессе выполнения задания были изучены и применены на практике различные методы преобразования данных, включая кодирование категориальных признаков (OrdinalEncoder, LabelEncoder, OneHotEncoder) и масштабирование числовых признаков (StandardScaler, MinMaxScaler, Normalizer).